/* I got a bit carried away and added some extras,
I commented on everything tho, so you can distinguish them easier */

/* Style the header with a background color */
header{
	background-color: #002b5c;
}

/* h1 elements should be centered and have a new font color */
h1{
	color: #edf5e1;
	text-align: center;
	/* extra */
	text-transform: uppercase;
	font-family: "Trebuchet MS", Verdana, Arial;
}

/* h2 elements should have a new font color */
h2{
	color: #edf5e1;
	text-transform: uppercase;
	/* extra */
	font-family: "Trebuchet MS", Verdana, Arial;
	margin: 10px;
	padding-top: 10px;

}

/* Sections should have a new background color */
section{
	background-color: #002b5c;	
}

/* The links should  have a new font color and background color */
a{
	color: #EDF5E1;
    background-color: #b81946;
    /* extra */
    font-family: Helvetica, "Trebuchet MS", Arial;
    font-variant: small-caps;
}

/* The images should not appear on the page */
img{
	display: none;
}

/* extra */
.active{
	margin-left: 10px;
}

p{
	font-family: Helvetica, "Trebuchet MS", "sans-serif";
	line-height: 150%;
	margin: 10px;
	padding-bottom: 10px;
	color: white;
}

table{
	font-family: Helvetica, "Trebuchet MS", "sans-serif";
	font-variant: small-caps;
	text-align: left;
	line-height: 150%;
	margin: 10px;
	color: white;
}

td{
	padding: 10px;
}

ul{
	line-height: 150%;
	padding-bottom: 10px;
}